<div class="container-fulid aboutus">
	<a href="http://www.yiguo.com"><img src="img/gy1.jpg" alt="点我可以看到更多哦"></a>
	<a href="http://www.yiguo.com"><img src="img/gy2.jpg" alt="点我可以看到更多哦"></a>
	<a href="http://www.yiguo.com"><img src="img/gy3.jpg" alt="点我可以看到更多哦"></a>
	<a href="http://www.yiguo.com"><img src="img/gy4.jpg" alt="点我可以看到更多哦"></a>
	<a href="http://www.yiguo.com"><img src="img/gy5.jpg" alt="点我可以看到更多哦"></a>
	<a href="http://www.yiguo.com"><img src="img/gy6.jpg" alt="点我可以看到更多哦"></a>
</div>