<div class="container">
  <div class="row loginBox">
    <div class="col-xs-4 formBox">
        <div class="page-header" style="margin-top:0">
          <h2 style="font-weight:bold;" id="tip">易果生鲜后台管理系统</h2>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">用户名</div>
            <input class="form-control" type="text" ng-model="username" value="" placeholder="请输入用户名">
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">密&nbsp;&nbsp;&nbsp;码</div>
            <input class="form-control" type="password" ng-model="password" value="" placeholder="请输入密码">
          </div>
        </div>
        <div class="from-inline zhu_ce">
          <div class="input-group">
            <label><input type="checkbox">&nbsp;<span>3周内免登陆</span></label>
          </div>
          <div class="text-right right_ce">
            <a href="" title="">?忘记密码</a>
          </div>
        </div>
        <div class="form-inline">
          <div class="input-group">
            <button class="btn btn-success btn-md" ng-click="loginTo()">确定</button>
          </div>
        </div>
    </div>
  </div>
</div>
